/node_modules
/public/hot
/public/js
/public/css
/public/storage
/public/assets/
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
docker/mysql/data
composer.lock
.DS_Store
/*/.DS_Store
/*/*/.DS_Store
/*/*/*/.DS_Store
.editorconfig
.gitattributes
yarn.lock
public/mix-manifest.json
package-lock.json
/storage/geo/

http-client.env.json
test.http
